{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://allfont.net/allfont.css?fonts=franklin-gothic-medium" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@400;700&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/header-style.css'%}">
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/brand-collection.css'%}">
    <title>Подборка брендов</title>
</head>
{% include 'inc/_header.html'%}
<body>
    <main class="main">
        <div class="brands-collection">
            <div class="big-brands">
                <div class="big-brand">
                    <a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/brand-big-photo.png'%}" alt=""></a>
                    <div class="small-photos">
                        <a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/brand-big-photo-3.png'%}" alt=""></a>
                        <a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/brand-big-photo-2.png'%}" alt=""></a>
                    </div>
                </div>
                <div class="big-brand-2">
                    <a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/brand-big-photo-4.png'%}" alt=""></a>
                </div>
            </div>
            <div class="small-brands">
                <div class="small-brand"><a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/small-brand-photo-1.png'%}" alt="small-brand-photo"></a></div>
                <div class="small-brand"><a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/small-brand-photo-2.png'%}" alt="small-brand-photo"></a></div>
                <div class="small-brand"><a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/small-brand-photo-3.png'%}" alt="small-brand-photo"></a></div>
                <div class="small-brand"><a href="#"><img src="{%static 'RDM-main/assets/img/brands-collecton/small-brand-photo-4.png'%}" alt="small-brand-photo"></a></div>
            </div>
        </div>
    </main>
</body>
{% include 'inc/_footer.html'%}
</html>