{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@400;700&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/header-style.css'%}">
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/favorite.css'%}">
    <title>Избранное</title>
</head>
{% include 'inc/_header.html'%}
<body>
    <div class="your-favorite-info">
        <div class="u-like-counter"><p>Вам понравились 3 475 товаров</p></div>
        <div class="good-out-counter">12 товаров закончились</div>
    </div>
    <main class="main">
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>ЭстетикBOY PRO</p>
                <p>15 666р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo-2.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>Формула 1.5</p>
                <p>66 615р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>ЭстетикBOY PRO</p>
                <p>15 666р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>ЭстетикBOY PRO</p>
                <p>15 666р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo-2.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>Формула 1.5</p>
                <p>66 615р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main//assets/img/favorite-product-photo.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>ЭстетикBOY PRO</p>
                <p>15 666р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>ЭстетикBOY PRO</p>
                <p>15 666р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo-2.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>Формула 1.5</p>
                <p>66 615р</p>
            </div>
        </div>
        <div class="favorite-product">
            <div class="favorite-button">
                <button><i class="fas fa-fire-alt"></i></button>
            </div>
            <div class="favorite-product-photo">
                <img src="{%static 'RDM-main/assets/img/favorite-product-photo.png'%}" alt="favorite-product-photo">
            </div>
            <div class="favorite-product-price">
                <p>ЭстетикBOY PRO</p>
                <p>15 666р</p>
            </div>
        </div>
    </main>
</body>
{% include 'inc/_footer.html'%}
</html>