{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://allfont.net/allfont.css?fonts=franklin-gothic-medium" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/8a2fbc0c4d.js" crossorigin="anonymous"></script>
    <link href="https://allfont.net/allfont.css?fonts=franklin-gothic-medium" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans+Narrow&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/header-style.css'%}">
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/footer-style.css'%}">
    <link rel="stylesheet" href="{%static 'RDM-main/assets/css/new-products.css'%}">
    <title>Новинки</title>
</head>
{% include 'inc/_header.html'%}
<body>
    <div class="container">
        <div class="new__items">
            <div class="new__item">
                <p class="item__title">Новинки весна - лето</p>
                <div class="item__photo">
                   <a href=""> <img src="{%static 'RDM-main/assets/img/new-products/new-product__item-photo.png'%}" alt=""></a>
                   <a href=""><img src="{%static 'RDM-main/assets/img/new-products/new-product__item-photo.png'%}" alt=""></a>
                </div>
                <div class="item__collection-name">
                    <p class="collection-name">Коллекция Прада</p>
                    <p class="collection-name">Коллекция Прада</p>
                </div>
            </div>
            <div class="new__item">
                <p class="item__title">Новинки весна - лето</p>
                <div class="item__photo">
                   <a href=""> <img src="{%static 'RDM-main/assets/img/new-products/new-product__item-photo.png'%}" alt=""></a>
                   <a href=""><img src="{%static 'RDM-main/assets/img/new-products/new-product__item-photo.png'%}" alt=""></a>
                </div>
                <div class="item__collection-name">
                    <p class="collection-name">Коллекция Прада</p>
                    <p class="collection-name">Коллекция Прада</p>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="sale__item">
            <div class="sale__favorite-icon">
                <button><i class="fas fa-tag"></i></button>
            </div>
            <div class="sale__item-photo">
                <a href=""><img src="{%static 'RDM-main/assets/img/sale-product-card-img.png'%}" alt="sale-product"></a>
            </div>
            <div class="sale__item-price">
                <p>2560 Р</p>
            </div>
            <div class="sale__item-descr">
                <p class="sale__item-descr-name">Футболка оверсайз</p>
                <p class="sale__item-descr-brand">LevishStyle</p>
            </div>
        </div>
        <div class="sale__item">
            <div class="sale__favorite-icon">
                <button><i class="fas fa-tag"></i></button>
            </div>
            <div class="sale__item-photo">
                <a href=""><img src="{%static 'RDM-main/assets/img/sale-product-card-img.png'%}" alt="sale-product"></a>
            </div>
            <div class="sale__item-price">
                <p>2560 Р</p>
            </div>
            <div class="sale__item-descr">
                <p class="sale__item-descr-name">Футболка оверсайз</p>
                <p class="sale__item-descr-brand">LevishStyle</p>
            </div>
        </div>
        <div class="sale__item">
            <div class="sale__favorite-icon">
                <button><i class="fas fa-tag"></i></button>
            </div>
            <div class="sale__item-photo">
                <a href=""><img src="{%static 'RDM-main/assets/img/sale-product-card-img.png'%}" alt="sale-product"></a>
            </div>
            <div class="sale__item-price">
                <p>2560 Р</p>
            </div>
            <div class="sale__item-descr">
                <p class="sale__item-descr-name">Футболка оверсайз</p>
                <p class="sale__item-descr-brand">LevishStyle</p>
            </div>
        </div>
        <div class="sale__item">
            <div class="sale__favorite-icon">
                <button><i class="fas fa-tag"></i></button>
            </div>
            <div class="sale__item-photo">
                <a href=""><img src="{%static 'RDM-main/assets/img/sale-product-card-img.png'%}" alt="sale-product"></a>
            </div>
            <div class="sale__item-price">
                <p>2560 Р</p>
            </div>
            <div class="sale__item-descr">
                <p class="sale__item-descr-name">Футболка оверсайз</p>
                <p class="sale__item-descr-brand">LevishStyle</p>
            </div>
        </div>
    </div>
</body>
{% include 'inc/_footer.html'%}
</html>
